body {
    font-family: arial;
    background-color: burlywood;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

input[type=text], input[type=email], input[type=password] {
    width: 95%;
    padding: 15px;
    margin: 15px 0 25px 0;
    background-color: lightgray;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.button {
    width: 20%;
    background-color: green;
    color: white;
    padding: 15px;
}

hr {
    margin-bottom: 20px;
}